@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer base {
}

@layer components {

}

.font-primary{
	font-family: Inter;
}


.color-primary{
	color: #DC2626;
}

.bgcolor-primary{
	background-color: #DC2626;
}

.font-text{
	font-family: 'Inter', sans-serif;
	font-weight: 600;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
}


.triangle-bottomright {
  border-bottom: 100px solid red;
  border-left: 100px solid transparent;
}

.desc-card{
	background-color: rgba(0, 0, 0, 0.6);
}

.card-product .desc-card .desc-text{
	display: none;
}

.card-product:hover .desc-card .desc-text{
	display: block;
}

.aboutus-bg{
	background-color: rgba(255, 255, 255, 0.9);
}