@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300&display=swap');
@layer base {
}

@layer components {

}

.font-title{
	font-family: 'Bebas Neue', cursive;
}

.font-text{
	font-family: 'Inter', sans-serif;
}


.triangle-bottomright {
  border-bottom: 100px solid red;
  border-left: 100px solid transparent;
}

.desc-card{
	background-color: rgba(0, 0, 0, 0.6);
}

